$text-color: blue;
$size: 2rem;
$primary-color: green;
$secondary-color: lightpink;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
 
$colors: (
    "lila": purple,
    "rosa":  pink,
    "yellow": yellow

);