p {
    background-color: blueviolet;
    color: pink;
    font-size: 1rem;
}


p:hover{
 background-color: blueviolet;
 color: pink;
 font-size: 3rem;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background-color: blueviolet;
    animation: mymove 2s infinite;
}

@keyframes mymove {
    0% {top:200px;}
    50% {top:0px;}
    100% {top:200px;}
}

.heart {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background-color: red;
    animation: mylove 2s infinite;
}


@keyframes mylove {
    0% {
        top: 0px;
        width: 8px;
        height: 8px;
    }

    50% {
        top: 200px;
        width: 40px;
        height: 40px;
    }

    100% {
        top: 0px;
        width: 8px;
        height: 8px;
    }
}