@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Fuggles&family=Princess+Sofia&family=Roboto+Serif:opsz,wght@8..144,100&family=Rubik+Gemstones&family=Sofia&family=Unbounded:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Fuggles&family=Martian+Mono:wght@300&family=Open+Sans:ital,wght@1,500&family=Princess+Sofia&family=Roboto+Serif:opsz,wght@8..144,100&family=Roboto+Slab:wght@100&family=Rubik+Gemstones&family=Sofia&family=Unbounded:wght@300&display=swap');


.font1 {
  font-family: "Fuggles", 'Times New Roman', Times, serif;
  font-size: 50px;
}

.font2 {
    font-family: "Amatic SC", 'Times New Roman', Times, serif;
    font-size: 50px;
}

.font3 {
 font-family: "";
}
