* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: center;
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #000;
}

img {
     max-width: 300px;
}

box {
    border: 1px solid blue;
}
